{% extends 'school_app/main.htm' %}
{% block content %}
<br>
<div class="container">
    {% load static %}
    <div class="card mb-3" style="max-width: 18rem;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{students.picture.url}}" class="card-img">
            </div>
            <div class="col-md-8">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Full name: {{students.f_name}} {{students.l_name}}</li>
                    <li class="list-group-item">UID: {{students.id}}-COL1</li>
            </div>

            <div class="col-md-12">
                <form method="POST" action="" enctype="multipart/form-data">
                    <div class="form-group">
                        {% csrf_token %}
                        {% load widget_tweaks %}
                        {% render_field form.f_name class="form-control" %}
                        <br>
                        <a class="btn btn-primary" href="{% url 'home' %}">Cancel</a>

                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<hr>


</div>
{% endblock %}